html{
    background-image:url("../imagenes/casinodos.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
    /* align-items: center ; */
}
.ruleta img{
    max-width: 1200px;
    min-width: 450px;    
}
.cabecera{
    display: grid;
    grid-template-columns: minmax(1fr,200px) 2fr 2fr minmax(1fr,100px);
    align-items: center;
    column-gap: 10px;
    grid-template-areas: "logo titulo dinero volver";
}
.logo{
    max-width: 200px;
    grid-column: logo;
}
.titulo{
    grid-area: titulo;
}
.jugador{
    grid-area: jugador;
}
.volver{
    grid-area: volver;
}
.rul{
    margin: 20px;
    padding: 10px;
    border: 3px solid gold;    
    border-radius: 15px;
    background-color: rgb(7, 24, 7);
    font-size: 20px;
    font-weight: 600;    
}
.displayres{
    display: none;
}
.win{
    color:rgb(50, 204, 71);
}
.lose{
    color: chocolate;
}

header {
    align-items: left;
} 
img{
    width: 100%;
}
.aligncenter{
    text-align: center;
}
body{
    font-family: arial,verdana,sans-serif;
    color:gold;
    max-width: 100vw;
}
h1,h2,h3{
    color:rgb(0, 255, 136);
    text-shadow: 2px 2px 5px rgb(48, 4, 4);
}
.apuesta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
form{    
    text-align: left;
    padding: 5px;
    color: gold;
    background-color: rgb(7, 24, 7);
    border: 3px solid gold;
    border-radius: 15px;
}
output{
    
    color:aquamarine;
}
label{
    padding: 5px;
    font-weight: 600;
}
input{
    font-size: 12px;
    padding: 2px 5px;
    margin-left: 5px;
}
button{
    margin: 10px;
    background-color: gold;
    border: 3px solid orange;
    border-radius: 5px;
    color: rgb(12, 11, 48);
    font-weight: 600;
}
h3{
    text-align: center;
}
main{
    margin: 20px 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    flex-direction: row;
    justify-content: space-evenly;
}
@media (max-width: 800px){
    .row{
        flex-direction: column;
        justify-content:unset;
    }
    form{
        max-width: 200px;
    }      
}
@media (max-width: 600px){
    .row{
        flex-direction: column;
        justify-content:unset;
    }
    form{
        max-width: 200px;
    }      
}
@media (max-width: 370px){
    .row{
        flex-direction: column;
        justify-content:unset;
    }      
}

